.correct-words-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.correct-words-form textarea {
    width: 100%;
    margin-top: 1rem;
    padding: 0.3rem 1rem;
    box-sizing: border-box;
}
.word-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}
.word-field {
    display: flex;
    justify-content: center;
    align-items: center;
}
.word-field input {
   width: 400px;
   padding: 0.4rem 0.8rem;
   /* margin-bottom: 1rem; */
}
.radio-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}